@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@300&display=block');
@import './base.css';

@import './vue3-carousel-modifs.css';

#app {
  padding-bottom: var(--footer-height);
}

.links {
  display: flex;
  gap: 1rem;
  font-family: var(--font-subheader);
  font-size: 1.714rem;
}

a {
  padding: 0.2rem 0.2rem 0 0.2rem;
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  outline: -webkit-focus-ring-color auto 1px;
}

a.current {
  font-weight: 600;
}

a:visited {
  color: var(--color-text);
}

li {
  list-style: none;
}
